@model IEnumerable<DellaSanta.Core.UploadedFiles>

@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Upload your .docs file</strong>
    </div>

    <table class="table table-hover table-striped table-condensed small">
        <tr>

            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.NameOnDisk)
            </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOnDisk)
            </td>


          
        </tr>
    }

    </table>
    
    <br /><br />
   
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="table table-hover table-striped table-condensed small">
            <tr>
                <td class="col-md-2">File:</td>
                <td class="col-md-10">
                    <input type="file" name="UploadedFile"  />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="col-md-2">
                    <input type="submit" name="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    }
    
 
</div>


